FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too

SQLALCHEMY_DATABASE_URI=mysql://username:password@localhost:3306/crop_disease_db
SQLALCHEMY_ECHO=False

AFRICASTALKING_API_KEY=your-africas-talking-key
AFRICASTALKING_USERNAME=your-username

SENDGRID_API_KEY=your-sendgrid-api-key
EMAIL_SENDER=no-reply@example.com

UPLOAD_FOLDER=./uploads
MAX_CONTENT_LENGTH_MB=5

